Application is build on python 2 (Python 3 can also be used) with some GUI implementations.
    
        Basic Requirements :
                  1:>Python 2/python 3 (Best if used with ipython shell)
                  2:>libraries:-  PIL
                                  CV2
                                  TKINTER
                                  TIME
                                  SYS,OS
                                  MATPLOTLIB
                                  #for more detailed library info please refer to lib.py python file.
                                  
                   3:>for installaton use (preferred ):-pip command
                              #eg:-pip install matplotlib
                               or just run startup.py file manually that will do just fine.
